# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.creator.user
luumuhillo.config
luumuhillo.creator
luumuhillo.creator.user
luumuhillo.files
luumuhillo.includes
*.autosave

build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
game_project
